@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lobster&family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
body{
    background-image: url(./images/banderinesverdes.jpg);
    backdrop-filter: blur(2px);
    background-size: cover;	
    background-position: center center;	
    background-attachment: fixed;	

}
.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.renzo{
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    color: rgb(37, 50, 59);
    background-color: rgba(0, 0, 0, 0.075);
   
}
.renzi{
    width: 300px;
    height: 400px;
    margin:auto;
	display:block;
    border-radius: 20px;
    margin-top: 50px;
}
.invita{
    font-family: 'Abel', sans-serif;  
    font-size: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.contador{
    font-family: 'Abel', sans-serif;  
    font-size: 40px;
    
    flex-wrap: wrap;
}
.calendario{
    width: 300px;
    height: 450px;
    margin:auto;
	display:block;
    margin-top: 50px;
    border-radius: 20px;
}
.direccion{
    font-family: 'Abel', sans-serif;  
    font-size: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
}
.iframe{
    margin-top: 50px;
    margin-bottom: 50px;
}
.boton{
    background-color: gray;
    color: aliceblue;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 105px;
    height: 40px;
    border-radius: 10px;
    border:none ;
}

@media screen and (max-width: 420px){
    body{
      background-image: url(./images/globosceleste.jpg);
      backdrop-filter: blur(0px);
      background-size: cover;	
    background-position: center center;	
    background-position: fixed;
    
   
    }
    
   .renzo{
    display: flex;
    justify-content: flex-start;
    padding-left: 85px
   }
   .renzi{
    width: 280px;
    height: 400px;
    margin-left: 40px;
   }
   .invita{
    font-weight: bold;
    font-size: 25px;
    padding-inline: 60px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.075);

   }
   .faltan{
    font-weight: bold;
    font-family: 'Abel', sans-serif; 
    font-size: medium;
    font-size: 25px;
    padding-inline: 160px;
    display: flex;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.075);
   }
   .contador{
    font-weight: bold;
    font-size: 18px;
    padding-inline: 40px;
    /* margin-left: 10px; */
    background-color: rgba(0, 0, 0, 0.075);
    display: flex;
    flex-wrap: wrap;
   }
.calendario{
    width: 250px;
    height: 350px;
    margin-left: 60px;
    margin-top: 10px;
}
.direccion{
    background-color: rgba(0, 0, 0, 0.075);
    font-size: 20px;
    padding-inline: 60px;
    display: flex;
}
.direccion h2{
    
    font-weight: bold;
}
.iframe{
    width: 280px;
    height: 300px;
    margin-left: 22px ;
}
.asistencia{
    background-color: rgba(0, 0, 0, 0.075);
    font-weight: bold;
    font-size: 20px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
}
.boton{
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border:none ;
}